<div>
  <strong><Name:</strong>
  <%= @android.name %>
</div>

<div>
  <strong><Brand:></strong>
  <%= @android.brand %>
</div>

<div>
  <strong><Year Released:></strong>
  <%= @android.year %>
</div>

<div>
  <strong><Camera:></strong>
  <%= @android.cam %>

<div>
  <strong><Mpixels:></strong>
  <%= @android.mpix %>
</div>

<div>
  <strong><Internal Storage></strong>
  <%= @android.storage %>
</div>

<div>
  <strong>Number of Slots:</strong>
  <%= @android.sim %>
</div>

<div>
  <strong>Screen Size:</strong>
  <%= @android.size %>
</div>

<div>
  <strong>Operating System:</strong>
  <%= @android.system %>
</div>

<div>
  <strong>Number in Stock:</strong>
  <%= @android.stock %>
</div>

